* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: $bg_color;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    @include flex(center, center, row, 0);
}