// colors
$bg_color: #3f3f3f;
$keyboard_color: #f9f9f9;
$key_color: #ccc;
$white_color: #fff;
$white-accent_color: #e6e6e6;
$black_color: #000;
$text_color: #333;

//general values
$padding-outside: 20px;
$key-gap: 5px;